<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid px-5">
      <a class="navbar-brand" href="#">
        <div class="logo" style="height: 60px">
          <img src="../../assets/riot-games-768.png" style="height: 100%" />
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Who we are
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">About Riot</a></li>
              <li><a class="dropdown-item" href="#">Diversity & Inclusion</a></li>
              <li><a class="dropdown-item" href="#">Social Impact</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Work with us
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="jobs">Jobs</a></li>
              <li><a class="dropdown-item" href="#">Benefits</a></li>
              <li><a class="dropdown-item" href="#">Offices</a></li>
              <li><a class="dropdown-item" href="#">Life at Riot</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news">News</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button class="btn btn-outline-danger btn-outline rounded-pill ms-2" type="button" data-bs-toggle="modal" data-bs-target="#signupModal">
          Sign Up
        </button>
      </div>
    </div>
  </nav>