<div style="background-color: #EBEBEB; height: auto;" id="jobSection">
    <div class="text-black d-flex align-items-start justify-content-between jobflex">
      <div class="job my-5 w-50 d-flex align-items-center justify-content-center text-align-center">
        <h2>We're hiring!</h2>
        <p>
          Team up with Riot to forge your path and craft unforgettable experiences for players
        </p>
        <div>
          <div class="d-flex gap-3 my-3">
            <div class="job-count rounded px-5">
              <a href="#" class="job-count"><span>21</span> <p>Open positions</p></a>
            </div>
            <div class="job-count rounded px-5">
              <a href="#" class="job-count"><span>24</span> <p> Available Offices</p></a>
            </div>
          </div>
          <div>
            <button class="btn btn-danger fw-4 w-100 py-4 rounded-pill">Explore Careers</button>
          </div>
        </div>
      </div>
      <div class="polygon w-50">
        <img src="../../assets/riot-client-t2-notext.png">
      </div>
    </div>
  </div>
  