<div class="full-page-image d-flex justify-content-start px-5 align-items-center text-white">
    <div class="text-start" id="coverImage">
      <h1>Watch Valorant Masters Madrid!</h1>
      <h4 class="">Tune in from March 14th-24th as eight VALORANT teams</h4>
      <h4>from around the world face off!</h4>
      <div class="mt-5">
        <button class="p-3 gradient-button d-flex justify-content-center align-items-center gap-3">
          <div class="large-icon solid bg-black p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="fs-3" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel">
              <path d="M5 12h13M12 5l7 7-7 7" />
            </svg>
          </div>
          <a href="" class="font-weight-bold text-decoration-none text-white bold wsn">Watch Now</a>
        </button>
      </div>
    </div>
  </div>
  