<div class="container mt-4">
  <h2>Admin Dashboard</h2>
  <h3>Add Games</h3>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group mb-3">
      <label for="title">Game Title</label>
      <input type="text" id="title" class="form-control" formControlName="title" required>
    </div>
    <div class="form-group mb-3">
      <label for="description">Game Description</label>
      <textarea id="description" class="form-control" formControlName="description" required></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="lastPlayed">Last Played</label>
      <input type="date" id="lastPlayed" class="form-control" formControlName="lastPlayed" required>
    </div>
    <div class="form-group mb-3">
      <label for="image">Game Image</label>
      <input type="file" id="image" class="form-control" (change)="onImageChange($event)" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Game</button>
  </form>

  <h3 class="mt-4">Games List</h3>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Last Played</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.title }}</td>
        <td>{{ game.description }}</td>
        <td>{{ game.date }}</td>
        
      </tr>
    </tbody>
  </table>
</div>
