<div style="background-color: #010000" class="my-5">
    <div class="px-5 text-white">
      <h1 class="pb-3">Esports</h1>
      <ul class="list-unstyled">
        <div class="row">
          <li class="col-md-6 mb-4 pointer-cursor">
            <div class="round scale">
              <div class="col position-relative rounded box-shadow-1">
                <img
                  src="../../assets/e1.png"
                  class="img-fluid rounded"
                  style="max-width: 100%"
                />
                <img
                  src="../../assets/e1logo.png"
                  class="position-absolute"
                  style="max-width: 30%; top: 25%; left: 2%"
                />
              </div>
            </div>
          </li>
          <li class="col-md-6 mb-4 pointer-cursor">
            <div class="round scale">
              <div class="col position-relative rounded box-shadow-2">
                <img
                  src="../../assets/e2.png"
                  class="img-fluid rounded"
                  style="max-width: 100%"
                />
                <img
                  src="../../assets/e2logo.png"
                  class="position-absolute"
                  style="max-width: 30%; top: 20%; left: 2%"
                />
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
  