<div style="background-color: #010000" class="my-5">
    <div class="px-5 text-white">
      <h1 class="mb-4">Riot Forge</h1>
      <div class="wrapper">
        <div class="carousel">
          <div class="col-lg-4 position-relative rounded grabbable-carousel pointer-cursor brl">
            <img src="../../assets/c6.jpg" class="img-fluid rounded" style="max-width: 100%" />
            <img src="../../assets/c6logo.png" class="position-absolute" style="max-width: 30%; top: 35%; left: 3%" />
          </div>
          <div class="col-lg-4 position-relative rounded grabbable-carousel pointer-cursor brl">
            <img src="../../assets/c5.png" class="img-fluid rounded" style="max-width: 100%" />
            <img src="../../assets/c5logo.png" class="position-absolute" style="max-width: 30%; top: 40%; left: 3.5%" />
          </div>
          <div class="col-lg-4 position-relative rounded grabbable-carousel pointer-cursor brl">
            <img src="../../assets/c4.jpg" class="img-fluid rounded" style="max-width: 100%" />
            <img src="../../assets/c4logo.png" class="position-absolute" style="max-width: 30%; top: 25%; left: 2%" />
          </div>
          <div class="col-lg-4 position-relative rounded grabbable-carousel pointer-cursor brl">
            <img src="../../assets/c2.jpg" class="img-fluid rounded" style="max-width: 100%" />
            <img src="../../assets/c2logo.png" class="position-absolute" style="max-width: 30%; top: 20%; left: 3%" />
          </div>
          <div class="col-lg-4 position-relative rounded grabbable-carousel pointer-cursor brl">
            <img src="../../assets/c3.png" class="img-fluid rounded" style="max-width: 100%" />
            <img src="../../assets/c3logo.png" class="position-absolute" style="max-width: 30%; top: 20%; left: 3%" />
          </div>
          <div class="col-lg-4 position-relative rounded grabbable-carousel pointer-cursor brl">
            <img src="../../assets/c1.png" class="img-fluid rounded" style="max-width: 100%" />
            <img src="../../assets/c1logo.png" class="position-absolute" style="max-width: 30%; top: 20%; left: 3%" />
          </div>
        </div>
        <i id="left" class="fa-solid fa-angle-left"></i>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>
