<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title w-100 text-center" id="authModalLabel">{{ isLoginMode ? 'Welcome Back!' : 'Join Us Today!' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-4">
        <form (ngSubmit)="onSubmit()" #authForm="ngForm">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required placeholder="Email address">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
          </div>
          <div *ngIf="!isLoginMode" class="mb-3">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="Confirm Password">
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-2">{{ isLoginMode ? 'Log In' : 'Sign Up' }}</button>
          <button type="button" class="btn btn-outline-secondary w-100" (click)="toggleMode()">{{ isLoginMode ? 'Need an account? Sign Up' : 'Already have an account? Log In' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
