.cover2 {
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(119, 59, 207, 0.4) 0,
    rgba(10, 10, 10, 0) 75%,
    rgba(10, 10, 10, 0) 100%
  );
}

.scale {
  transition: transform 0.3s ease;
}
.scale:hover {
  animation: scaleUp 0.3s ease forwards;
}
.scale:not(:hover) {
  animation: scaleDown 0.3s ease forwards;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.position-relative .position-absolute {
  max-width: 30%;
  top: 35%;
  left: 2%;
}

.cover2 .list-unstyled .scale {
  transition: filter 0.3s ease;
  cursor: pointer;
}

.cover2 .list-unstyled:hover .round:not(:hover) {
  filter: grayscale(80%) blur(4px);
}

.cover2 .list-unstyled .scale .position-relative:hover {
  border: solid 1px white;
}
.card {
  background: #2a2a2a;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  color: #ff4d4d;
}

.card-text {
  color: #f8f9fa;
}
