<div style="background-color: #010000" class="cover2 px-5 text-white">
    <h1 class="pb-3">Games</h1>
    <ul class="list-unstyled">
      <div class="row">
        <li class="col-md-6 mb-4">
          <div class="round scale">
            <div class="col position-relative rounded">
              <img
                src="../../assets/lolkv-2023.png"
                class="img-fluid rounded"
                style="max-width: 100%"
              />
              <img
                src="../../assets/lol-logotype.png"
                class="position-absolute"
                style="max-width: 30%; top: 35%; left: 2%"
              />
            </div>
          </div>
        </li>
        <li class="col-md-6 mb-4">
          <div class="round scale">
            <div class="col position-relative rounded">
              <img
                src="../../assets/val8-2.png"
                class="img-fluid rounded"
                style="max-width: 100%"
              />
              <img
                src="../../assets/valorant-logotype.png"
                class="position-absolute"
                style="max-width: 30%; top: 20%; left: 2%"
              />
            </div>
          </div>
        </li>
      </div>
      <div class="row">
        <li class="col-md-6 mb-4">
          <div class="round scale">
            <div class="col position-relative rounded">
              <img
                src="../../assets/tft.png"
                class="img-fluid rounded"
                style="max-width: 100%"
              />
              <img
                src="../../assets/tft-logotype-2021.png"
                class="position-absolute"
                style="max-width: 30%; top: 25%; left: 2%"
              />
            </div>
          </div>
        </li>
        <li class="col-md-6 mb-4">
          <div class="round scale">
            <div class="col position-relative rounded">
              <img
                src="../../assets/wrka-2023.png"
                class="img-fluid rounded"
                style="max-width: 100%"
              />
              <img
                src="../../assets/lol-wildrift-logotype.png"
                class="position-absolute"
                style="max-width: 30%; top: 35%; left: 2%"
              />
            </div>
          </div>
        </li>
      </div>
      <div class="row">
        <li class="col-md-6 col-md-offset-3 mb-4 m-auto">
          <div class="round scale">
            <div class="col position-relative rounded">
              <img
                src="../../assets/lor-2023q4.png"
                class="img-fluid rounded"
                style="max-width: 100%"
              />
              <img
                src="../../assets/legends-of-runeterra-logotype.png"
                class="position-absolute"
                style="max-width: 30%; top: 35%; left: 2%"
              />
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
  