<div style="background-color: #010000" id="newsSection">
    <div class="mt-4 px-5 whats-happening">
      <div class="d-flex justify-content-between align-items-center text-white flex-nowrap">
        <h1>What's happening?</h1>
        <button class="btn btn-dark button1 text-white my-5 wsn">See More</button>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <!-- main image -->
        <div class="mmax">
          <div class="d-flex flex-column gap-4">
            <img
              src="../../assets/ramadan.png"
              class="img-fluid rounded scale"
              alt="Responsive image"
            />
            <div class="mb-4">
              <h1 class="bold font-weight-bold text-white">
                Celebrating Ramadan in Wild Rift Together Under the Crescent
              </h1>
              <div class="d-flex flex-nowrap gap-2">
                <div class="svg-container rounded-circle d-flex justify-content-center align-items-center">
                  <svg viewBox="0 0 20 20" fill="none" class="svg-path">
                    <path
                      d="M16.4 14.292l-.896 3.023h-2.077l-1.305-3.023H16.4zm-6.39-2.777C9.244 9.72 8.35 7.363 8.597 7.19c.121-.085.599.326 1.36 1.613.085.145.07-.06.07-.152V1.868h-3.01c-.154 0-.19.002-.22.035-.027.03-.018.092.017.192C7.792 4.83 8.195 6.41 7.987 6.51c-.152.073-.63-.648-1.452-2.29C5.279 1.706 4.534.318 4.416.404c-.15.11.74 2.658 2.918 8.383.724 1.902.954 2.839.802 2.922-.133.073-.556-.521-1.17-1.713-.7-1.359-1.036-1.902-1.12-1.875-.102.032.162.894.59 2.158.677 1.993 1.808 5.413 1.57 5.543-.126.068-.441-.473-1.18-1.991-.153-.317-.238-.474-.278-.474-.022 0-.031.052-.031.152v2.227l-.818 1.579h3.765c-.973-2.668-1.254-3.852-1.099-3.927.188-.089 1.012 1.439 2.024 3.927.963.45 2.216 1.52 2.909 2.172.165.156.222.147.155-.007-.814-1.873-1.932-4.42-3.443-7.965z"
                      fill="#32C8FF"
                    ></path>
                  </svg>
                </div>
                <h5 class="mcolor">Inside Riot</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- sub images -->
        <ul class="whats-happening-articles px-0">
          <!-- img1 -->
          <li class="whats-happening-article w-100 smax">
            <a href="" class="whats-happening-article-card text-decoration-none">
              <div class="whats-happening__article-title-wrapper">
                <h5 class="whats-happening__article-title text-white">
                  Together Under the Crescent | Event Trailer - League of Legends: WR
                </h5>
                <div class="d-flex flex-nowrap gap-2">
                  <div class="svg-container rounded-circle d-flex justify-content-center align-items-center">
                    <svg viewBox="0 0 20 20" fill="none" class="svg-path">
                      <path
                        d="M16.4 14.292l-.896 3.023h-2.077l-1.305-3.023H16.4zm-6.39-2.777C9.244 9.72 8.35 7.363 8.597 7.19c.121-.085.599.326 1.36 1.613.085.145.07-.06.07-.152V1.868h-3.01c-.154 0-.19.002-.22.035-.027.03-.018.092.017.192C7.792 4.83 8.195 6.41 7.987 6.51c-.152.073-.63-.648-1.452-2.29C5.279 1.706 4.534.318 4.416.404c-.15.11.74 2.658 2.918 8.383.724 1.902.954 2.839.802 2.922-.133.073-.556-.521-1.17-1.713-.7-1.359-1.036-1.902-1.12-1.875-.102.032.162.894.59 2.158.677 1.993 1.808 5.413 1.57 5.543-.126.068-.441-.473-1.18-1.991-.153-.317-.238-.474-.278-.474-.022 0-.031.052-.031.152v2.227l-.818 1.579h3.765c-.973-2.668-1.254-3.852-1.099-3.927.188-.089 1.012 1.439 2.024 3.927.963.45 2.216 1.52 2.909 2.172.165.156.222.147.155-.007-.814-1.873-1.932-4.42-3.443-7.965z"
                        fill="#32C8FF"
                      ></path>
                    </svg>
                  </div>
                  <h5 class="mcolor">News</h5>
                </div>
              </div>
              <div
                class="whats-happening__article-image"
                style="background-image: url('../../assets/sub1.png')"
              ></div>
            </a>
          </li>
          <!-- img2 -->
          <li class="whats-happening-article w-100 smax">
            <a href="" class="whats-happening-article-card text-decoration-none">
              <div class="whats-happening__article-title-wrapper">
                <h5 class="whats-happening__article-title text-white">
                  Everything You Need to Know: Masters Madrid
                </h5>
                <div class="d-flex flex-nowrap gap-2">
                  <div class="svg-container rounded-circle d-flex justify-content-center align-items-center">
                    <svg viewBox="0 0 20 20" fill="none" class="svg-path">
                      <path
                        d="M18 3.7v6.059c0 .096-.034.19-.096.265l-1.55 1.888a.44.44 0 0 1-.342.16h-4.91c-.086 0-.133-.097-.08-.162l6.797-8.273c.06-.073.181-.032.181.062zM7.202 16.24l-5.106-6.216A.417.417 0 0 1 2 9.76V3.7c0-.094.122-.135.181-.062l10.352 12.601c.053.065.006.162-.08.162h-4.91a.44.44 0 0 1-.341-.16z"
                        fill="#FF4654"
                      ></path>
                    </svg>
                  </div>
                  <h5 class="mcolor">News</h5>
                </div>
              </div>
              <div
                class="whats-happening__article-image"
                style="background-image: url('../../assets/sub2.png')"
              ></div>
            </a>
          </li>
  
          <!-- img3 -->
          <li class="whats-happening-article w-100 smax">
            <a href="" class="whats-happening-article-card text-decoration-none">
              <div class="whats-happening__article-title-wrapper">
                <h5 class="whats-happening__article-title text-white">
                  Adjusting our LoL Esports Strategy
                </h5>
                <div class="d-flex flex-nowrap gap-2">
                  <div class="svg-container rounded-circle d-flex justify-content-center align-items-center">
                    <svg
                      dataname="Layer 1"
                      viewBox="0 0 185.47 163.51"
                      class="svg-path"
                    >
                      <path
                        class="cls-1"
                        fill="#f1f5f1"
                        d="M98.77 0L0 45.74l24.61 93.66 18.73-2.3-5.15-58.89 6.15-2.74 10.62 60.2 32.01-3.93-5.69-65 6.09-2.71 11.68 66.23 32.38-3.98-6.23-71.25 6.16-2.74 12.77 72.43 32.01-3.93V19.38L98.77 0zm2.32 142.05l1.63 9.22 73.42 12.24v-30.68l-75.01 9.21-.04.01z"
                      ></path>
                      <path
                        class="cls-1"
                        d="M176.17.71V0h3.64v.71zm1.41 3.94V.41h.81v4.24zm3 0V0h.8v4.65zm2.21 0L180.73 0h.83L183 3.42 184.44 0h.84l-2.06 4.65zm1.83 0V0h.81v4.65z"
                      ></path>
                    </svg>
                  </div>
                  <h5 class="mcolor">News</h5>
                </div>
              </div>
              <div
                class="whats-happening__article-image"
                style="background-image: url('../../assets/sub3.png')"
              ></div>
            </a>
          </li>
  
          <!-- img4 -->
          <li class="whats-happening-article w-100 smax">
            <a href="" class="whats-happening-article-card text-decoration-none">
              <div class="whats-happening__article-title-wrapper">
                <h5 class="whats-happening__article-title text-white">
                  Riot Games Partners with Unilumin VALORANT EMEA Esports in 2024
                </h5>
                <div class="d-flex flex-nowrap gap-2">
                  <div class="svg-container rounded-circle d-flex justify-content-center align-items-center">
                    <svg viewBox="0 0 2160 1680">
                      <g fill="#ffb400">
                        <path
                          d="M1371.72 836.5c-51.36-31.34-35.21-9.4-13.34 11.17 91.86 86.43 152.46 171.44 175.03 244.86 14.74 47.95 1.63 77.07-20.4 35.13-33.45-63.69-77.42-112.47-104.17-133.93-26.56-21.31-26.11-11.1-13.3 6 52.29 69.78 83.33 140.12 52.24 194.51-51.03 89.3-257.01 66.67-459.17-50.06-257.4-148.61-416.3-351.91-358.19-455.95 25.35-45.39 94.33-64.17 175.79-57.36 17.32 1.45 16.37-4.02 1.01-8.05-97.23-25.54-211.8-1.71-252.55 69.07-74.3 129.07 98.57 368.28 386.47 534.5 60.99 35.21 140.59 74.51 234.67 105.96 56.96 19.04 48.79 41.98-49.1 23.01-104.12-20.17-233.69-74.22-356.11-146.17-35.38-20.79-40.01-12.54-13.78 13.15 24.29 23.79 70.55 60.18 126.43 93.46 285.82 170.22 642.4 214.6 744.81 36.86 91.65-159.04-72.84-404.17-256.34-516.16z"
                        ></path>
                        <path
                          d="M453.51 213.51l154.12 266.95h319.82v527.1c80.52 65.01 214.26 133.68 305.09 139.73V480.46h319.82l154.12-266.95H453.51z"
                        ></path>
                      </g>
                    </svg>
                  </div>
                  <h5 class="mcolor">News</h5>
                </div>
              </div>
              <div
                class="whats-happening__article-image"
                style="background-image: url('../../assets/sub4.png')"
              ></div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  